$Winter-Sunset-1-hex: #2B3240;
$Winter-Sunset-1-hex-50: #363d4b;
$Winter-Sunset-2-hex: #8596A6;
$Winter-Sunset-2-hex-20: #c8d1da;
$Winter-Sunset-2-hex-10: #ecf1f7;
$Winter-Sunset-3-hex: #F2DE77;
$Winter-Sunset-4-hex: #F2BF80;
$Winter-Sunset-5-hex: #F2994B;
