@import './colors.scss';

$max-width: 600px;
$font-light: 100;

.test1 {
  font-size: 64px;
  color: $Winter-Sunset-1-hex;
}

.upper {
}
.lower {
  display: flex;
  justify-content: center;
}

#root {
  border: 1px solid $Winter-Sunset-5-hex;
  margin: 5px;
  margin: 5px;
}

.widget {
  flex-direction: column;
  height: 300px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: stretch;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.day {
  min-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $Winter-Sunset-2-hex-20;

.temperature {
  display: inherit;
  flex-direction: row;

  .hi {
    color: $Winter-Sunset-5-hex;
  }

  .low {
    color:$Winter-Sunset-1-hex;
  }
}
  p {
    font-weight: $font-light;
    color: $Winter-Sunset-1-hex-50;
  }
}

.highlighted {
 background: $Winter-Sunset-2-hex-10;
}