$common-margin: 10px;
.root {
  border: 1px dashed darkgray;
}

.widget {
}

.grid {
 display: flex;
 flex-direction: row;
 margin-top: $common-margin;
 margin-left: $common-margin;
}
.day {
  padding: 10px;
  border-radius: 5px;
  
  margin-left: 5px;
margin-right: 5px;

  width: 100px;
  border: 1px solid lightgray;

  .hi {
    color: red
  }

  .low {
    color:blue
  }
}

.highlighted {
 border: 2px solid orange; 
}